<a href="https://colab.research.google.com/github/vyshnavinellore/2216129_AIML_BootCamp/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.IMPLEMENT THE METHODS OF STRING WITH EXAMPLES

In [9]:
#string methods
str="he drives to work"
print(str.upper())
print(str.lower())
print(str.swapcase())
print(str.title())
print(str.capitalize())
str1="dog"
str2="cat"
str3=str1+str2
print(str3)
str4=str1*2
print(str4)

HE DRIVES TO WORK
he drives to work
HE DRIVES TO WORK
He Drives To Work
He drives to work
dogcat
dogdog

2.Implement the methods of List with examples

In [12]:
list=[3,17,9]
list.append(4)
print(list)
list.extend([23,2,6])
print(list)
list.insert(1,3)
print(list)
del list[4]
print(list)
del list[0:3]
print(list)
list.remove(9)
print(list)
list.pop()
print(list)
list.clear()
print("list elements:",list)
li1=[1,9,9.5,7,8,4]
print(li1.count(1))
print(len(li1))
print(li1[::-1])
li1.reverse()
print(li1)
li1.sort()
print(li1)

[3, 17, 9, 4]
[3, 17, 9, 4, 23, 2, 6]
[3, 3, 17, 9, 4, 23, 2, 6]
[3, 3, 17, 9, 23, 2, 6]
[9, 23, 2, 6]
[23, 2, 6]
[23, 2]
list elements: []
1
6
[4, 8, 7, 9.5, 9, 1]
[4, 8, 7, 9.5, 9, 1]
[1, 4, 7, 8, 9, 9.5]

3.Implement the methods of Tuple with examples

In [13]:
tu=(1,64,21,9,13)
print(tu.count(1))
print(tu.index(9))
print(max(tu))
print(min(tu))
print(len(tu))

1
3
64
1
5

4.Implement the methods of Dictionary with examples

In [ ]:
d={1:'cat',27:'peacock',99:'mango'}
print(type(d))
print(len(d))
print(d.keys())
print(d.values())
print(d[27])
d[1]='lion'
print(d)
d['name']='sahastra'
d1={7:'chocolate',4:'milk'}
print(d1.items())
print(d1.get(7))
d2=d1.copy()
print(d2)
d1.pop(4)
print(d1)

5.Implement the methods of Set with examples.

In [14]:
set={6,2,9}
set={"welcome","great",(7,3)}
set.add(2)
print(set)
set.update([1,5,4])
print(set)
set.discard(2)
print(set)
set.remove(1)
print(set)

{(7, 3), 2, 'great', 'welcome'}
{(7, 3), 2, 1, 4, 'welcome', 5, 'great'}
{(7, 3), 1, 4, 'welcome', 5, 'great'}
{(7, 3), 4, 'welcome', 5, 'great'}

6.Write a python program to convert Decimal to Binary, Octal and Hexadecimal with direct method.

In [15]:
d=1999
print(bin(d))
print(oct(d))
print(hex(d))

0b11111001111
0o3717
0x7cf

7.Implement Arithmetic operators with examples.

In [16]:
a=37
b=62
print("arithmetic\n")
print(a+b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

arithmetic

99
0.5967741935483871
0
37
16924151024623061317103453164864394043537958418969369432817482078357454592183099846564553474068969

8.Implement Assignment operators with examples

In [17]:
a=9
b=12
c=32
print("assignmet\n")
c=a+b
print(c)
c+=a
print(c)
c-=a
print(c)
c*=a
print(c)
c/=a
print(c)
c%=a
print(c)
c**=a
print(c)

assignmet

21
30
21
189
21.0
3.0
19683.0

9.Implement Comparison operators with examples

In [18]:
# comparision operators
print("comparision\n")
a=120
b=16
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

comparision

False
True
True
False
True
False

11.Implement Bitwise operators with examples

In [19]:
#bitwise operators
print("bitwise\n")
a=23
b=11
print(a&b)
print(a^b)
print(a|b)
print(~a)
print(a>>2)
print(a<<2)

bitwise

3
28
31
-24
5
92

12.Implement Membership operators with examples

In [21]:
print("membership\n")
x="app"
y={1:'23',2:'45'}
print('p'in x)
print(1 in y)
print('a'in y)

membership

True
True
False

13.Implement Identity operators with examples

In [22]:
print("identity\n")
x1=6
y1=4
x3=[1,2,6]
y3=[1,4,3]
print(x1 is not y1)

identity

True

14.Demonstrate Negative indexing for List and apply slicing.

In [23]:
list_1 = [2,8,5,3,0,1]
print(list_1[-6])
print(list_1[-6:-2])

2
[2, 8, 5, 3]

15.Predict the output for the given code snippet and justify the result

In [24]:
print(' A series of characters designated as one object known as a string'[::-1][4::3])
print("_ _ _ _ _")
print('Welcome to Python traing program'[3:10][::-1])

taawkcbe  tgestrcoeeA
_ _ _ _ _
ot emoc

16.Write a python code to get desired output

In [25]:
s="was it a car or a cat I saw"
s=s.upper()
s=s.replace(" "," ")
c=0
res=''
for i in range(0,len(s)):
  if(c%3==0 and c!=0):
    res=res+" "+s[i]+" "
    c=0
  else:
      res=res+s[i]
      c=c+1
print(res)

WAS   IT  A  CA R  OR   A C A T I   SAW

In [26]:
x=int(input())
y=x*2


res='z'*x
y='o'*y
res=res+y
print(res)

2
zzoooo